/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/bin
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/bin
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/bin
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/obj
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/obj
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldMAUI/.vs
/Chapter 1/HelloWorldMAUI/.vs
/Chapter 1/HelloWorldMAUI/.vs
/Chapter 1/HelloWorldMAUI/HelloWorldMAUI/bin
/Chapter 1/HelloWorldMAUI/HelloWorldMAUI/bin
/Chapter 1/HelloWorldMAUI/HelloWorldMAUI/obj
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/obj
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/wwwroot
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 2/SampleCalculator/.vs
/Chapter 2/SampleCalculator/SampleCalculator/bin
/Chapter 2/SampleCalculator/SampleCalculator/obj
/Chapter 3/FirstBlazorApp/FirstBlazorApp/bin
/Chapter 3/FirstBlazorApp/FirstBlazorApp/obj
/Chapter 3/FirstBlazorApp/.vs
/Chapter 4/Chapter4/.vs
/Chapter 4/Chapter4/Chapter4/bin
/Chapter 4/Chapter4/Chapter4/obj
/Chapter 5/Chapter5/.vs
/Chapter 5/Chapter5/Chapter5/bin
/Chapter 5/Chapter5/Chapter5/obj
/Chapter 6/Chapter6/.vs
/Chapter 6/Chapter6/Chapter6/bin
/Chapter 6/Chapter6/Chapter6/obj
/Chapter 7/Chapter7/.vs/Chapter7
/Chapter 7/Chapter7/Chapter7/bin/Debug
/Chapter 7/Chapter7/Chapter7/obj
/Chapter 7/Chapter7/.vs/ProjectEvaluation
/Chapter 8/Chapter 8/.vs
/Chapter 8/Chapter 8/Chapter 8/Chapter 8 (Package)
/Chapter 8/Chapter 8/Chapter 8/Chapter 8/bin
/Chapter 8/Chapter 8/Chapter 8/Chapter 8/obj
/Chapter 9/Chapter 9/.vs
/Chapter 9/Chapter 9/Chapter 9/Assets
/Chapter 9/Chapter 9/Chapter 9/bin
/Chapter 9/Chapter 9/Chapter 9/obj
