/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/bin
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/.vs
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/bin
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/bin
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/obj
/Chapter 1/HelloWorldBlazor/HelloWorldBlazor/obj
