/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/bin
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
/Chapter 1/HelloWordWinForms/.vs
/Chapter 1/HelloWordWinForms/HelloWorldWinForms/obj
