@using Chapter4.Components.Pages
@page "/"

<div>
    <details>
        <summary>ButtonComponent</summary>
        <ButtonComponent />
    </details>

    <details>
        <summary>CardComponent</summary>
        <CardComponent />
    </details>

    <details>
        <summary>CounterComponent</summary>
        <CounterComponent />
    </details>

    <details>
        <summary>GreetingComponent</summary>
        <GreetingComponent Name="John" Message="Welcome to our website!" />
    </details>

    <details>
        <summary>LifecycleComponent</summary>
        <LifecycleComponent />
    </details>

    <details>
        <summary>ListComponent</summary>
        <ListComponent />
    </details>

    <details>
        <summary>ParentComponent</summary>
        <ParentComponent />
    </details>

    <details>
        <summary>TextInputComponent</summary>
        <TextInputComponent />
    </details>

    <details>
        <summary>WeatherForecastComponent</summary>
        <WeatherForecastComponent />
    </details>
</div>    