@page "/temperatureconverter"
@rendermode InteractiveServer

<h3>Temperature Converter</h3>
<p>Enter temperature in Celsius:</p>
<input type="number" @bind="CelsiusTemp" @bind:event="oninput" />
<p>Temperature in Fahrenheit: @fahrenheitTemp</p>

@code {

    private double celsiusTemp;
    private double fahrenheitTemp;

    protected override void OnParametersSet()
    {
        ConvertTemperature();
    }

    private void ConvertTemperature()
    {
        fahrenheitTemp = (celsiusTemp * 9.0 / 5.0) + 32;
    }

    private double CelsiusTemp
    {
        get => celsiusTemp;
        set
        {
            celsiusTemp = value;
            ConvertTemperature();
        }
    }

} 