@page "/"

<h3>Greet</h3>

<input @bind="Name" placeholder="Enter your name" />

<button @onclick="ShowGreeting">Greet</button>

<p>@Greeting</p>

@code {
    string Name { get; set; }
    string Greeting { get; set; }

    void ShowGreeting()
    {
        Greeting = $"Hello {Name}";
    }
}